In [4]:
from connect import MysqlConnector
import const

In [5]:
with MysqlConnector(const.MYSQL_CONFIG) as conn:
    c = conn.cursor()
    sql = 'select * from jyo_master'
    c.execute(sql)
    res = c.fetchall()

In [29]:
a = {1, 2, 3}
b = {2,3,4}
for k, (i, j) in enumerate(zip(a,b)):
    print(k, i, j)
', '.join(['1' ,'2'])

0 1 2
1 2 3
2 3 4

'1, 2'

In [36]:
# テーブル一覧の取得
sql = 'show tables'
c.execute(sql)
print('===== テーブル一覧 =====')
list(map(lambda x: x[0], c.fetchall()))

===== テーブル一覧 =====

['jyo_master', 'test']

In [ ]:
sql = \
"""
show columns from {tb_name}
"""
c.execute(sql.format(tb_name='test'))

In [47]:
list(map(lambda x: x[0], c.fetchall()))

['id', 'content', 'A']

In [9]:
import pandas as pd

In [10]:
sql = """
    SELECT * FROM jyo_master
"""
df_read = pd.read_sql(sql, mysql.conn)

In [11]:
df_read.set_index('jyo_name', inplace=True)

In [12]:
df_read.at['桐生', 'jyo_code']

1

In [13]:
name_list2 = {'多摩川', '浜名湖', '蒲郡', '常滑', '津',
          '三国', '住之江', '丸亀', '児島',
          '宮島', '芦屋', '福岡'}

In [14]:
set(map(lambda x: df_read.at[x, 'jyo_code'], name_list2))

{5, 6, 7, 8, 9, 10, 12, 15, 16, 17, 21, 22}

In [5]:
from pathlib import Path

In [58]:
Path('a').joinpath('b')

PosixPath('a/b')

In [1]:
import sys
import logging
logger = logging.getLogger()
handler = logging.StreamHandler(sys.stdout)
handler.setLevel(logging.DEBUG)
logger.addHandler(handler)
logger.setLevel(logging.DEBUG)

In [2]:
from dt2sql import JyoData2sql
jd2s = JyoData2sql()
sql = jd2s.insert2table(20200512)

access: https://www.boatrace.jp/owpc/pc/race/index?hd=20200512
called url2soup.
called holdplace2strlist.
called holdplace2cdlist.
connecting mysql server.
done.
loading table to df.
mysql connection closed.
loading table to df done.
called holdracedict.
Connect to MySQL

In [4]:
sql

"INSERT IGNORE INTO holdjyo_tb VALUES (2020051201, 20200512, 1, '桐生', '-', 12), (2020051202, 20200512, 2, '戸田', '-', 12), (2020051205, 20200512, 5, '多摩川', '-', 12), (2020051206, 20200512, 6, '浜名湖', '-', 12), (2020051209, 20200512, 9, '津', '-', 12), (2020051210, 20200512, 10, '三国', '-', 12), (2020051211, 20200512, 11, 'びわこ', '-', 12), (2020051213, 20200512, 13, '尼崎', '-', 12), (2020051214, 20200512, 14, '鳴門', '-', 12), (2020051218, 20200512, 18, '徳山', '-', 12), (2020051219, 20200512, 19, '下関', '-', 12), (2020051220, 20200512, 20, '若松', '中止順延', 0), (2020051221, 20200512, 21, '芦屋', '-', 12), (2020051222, 20200512, 22, '福岡', '-', 12)"

In [1]:
date = 20200512
jyo_cd = 21
race_no = 1

In [3]:
int(f"{date}{jyo_cd:02}{race_no:02}")

202005122101

In [3]:
a = 'a'
if type(a) is str:
    a = f"'{a}'"
print(str(a))

'a'

In [1]:
from dt2sql import RaceData2sql
rd2s = RaceData2sql()

In [2]:
rd2s._info2insertvalue(
    id_list=[11,22],
    info_dict={'a': 1234, 'b': 0.44, 'c': 'test'}
)

['11', '22', '1234', '0.44', "'test'"]

"(11, 22, 1234, 0.44, 'test')"

In [3]:
'\'i\''

"'i'"

NameError: name 'insert_value' is not defined

In [4]:
a = ['a', 'b']
a_str = str(a)

In [5]:
a_str

"['a', 'b']"

In [6]:
print(f"here is {a_str}")

here is ['a', 'b']